<header class="container">
  <div class="content created-user">
    <h1>Usuário cadastrado</h1>

    <ul class ="show-user-token">

      <li>
        <strong>token:</strong>
        <%= @user.id %>
      </li>
      
    </ul>

    <h3> <span>ATENÇÃO</span> Salve seu token, ele será necessário para utilizar a API. </h3>

    <span class="link"><%= link "retornar ao dashboard", to: Routes.dashboard_path(@conn, :show) %></span>

  </div>
</header>
